*{
	margin:0;
	padding:0;
}
.mainbody{
	background: #ccc;
	width:400px;
	height:200px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
	
}
.wrap{
	width:100%;
	
}
.box1{
	position: absolute;
	width: 100px;
	height:100px;
	background: #fc0;
	top:-50px;
	left:-50px;
	border-radius: 100%;
}
.box2{
	position: absolute;
	width: 100px;
	height:100px;
	background: #fc0;
	bottom:-50px;
	right:-50px;
	border-radius: 100%;
}